[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:FluentEngine/spdlog.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = git@github.com:FluentEngine/SDL.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git

[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/FluentEngine/assimp
